html{
    height:100%;
}

.mb-6{
    margin-bottom: 4em;
}

.bg:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    display: block;
    background-image: url("../img/login-pic.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
}

.bg{
    height: 100%;
}

.dark-card{
    background-color: #212121;
    color: white;
    width: 100%;
    border-radius: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.dark-btn{
    font-size: 20px;
    width: 80%;
    color: white;
    border-color: white;
}

.dark-btn:hover,
.dark-btn:focus{
    color: white;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.small-dark-btn{
    margin-top: 0.5em;
    font-size: 16px;
    width: 60%;
    color: white;
    border-color: white;
}

.small-dark-btn:hover,
.small-dark-btn:focus{
    color: white;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.index-btn{
    font-size: 15px;
    width: 80%;
    color: white;
    border-color: white;
}

.index-btn:hover,
.index-btn:focus{
    color: white;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.form-control,
.form-control:focus{
    color: white;
    background: transparent;
}

.form-control:focus{
    border-color: white;
    box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 50%);
}

.card-title span{
    text-align: center;
    font-size: 23px;
}

.invalid-feedback{
    font-size: 15px;
}

.table{
    margin: 50px;
}

.table th,
.table td{
    font-size: 20px;
    text-align: center;
}

.pagination{
    font-size: 20px;
    margin-bottom: 40px;
}

.page-link {
    position: relative;
    display: block;
    color: white;
    background-color: #212121;
    border: 1px solid white;
}

.page-item.active .page-link {
    color: #212121;
    background-color: white;
    border-color: white;
}

.page-item.disabled .page-link {
    color: white;
    background-color: #212121;
    border-color: white;
}

.page-link:hover {
    color: #212121;
    background-color: white;
    border-color: white;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}

.form-font{
    font-size: 20px;
    text-align: center;
}

#sign{
    font-size: 15px;
}

.sign-preview{
    height: 37px;
    width: 37px;
}
